extends ../templates/template

block styleSheet
  link(rel="stylesheet", href="css/index.css")
block title
    title(data-section='head' data-value='title-1') Portafolio - Inicio

block menu
    -pageActive = 'Inicio'
    include ../includes/main-menu

block contentWeb
    //- <!--==================== HERO ====================-->
    .hero
        //- <!--==================== BANNER ====================-->
        section.banner
            .container
                picture
                    source(media="(max-width: 767px)", srcset="assets/img/home/avatar-mb.png")
                    img(src="assets/img/home/avatar-lp.png", alt="Banner picture").banner__img
                .banner__content
                    h1.banner__title
                        span.banner__bold Kevin 
                        | García Munive
                    h2.banner__subtitle 
                        span(data-section='hero' data-value='title').banner__subtitle--visible Diseñador gráfico 
                        | UX / UI

        //- <!--==================== SKILLS ====================-->
        article.skills.container
            .skills__card
                .skills__grid
                    .skills__grid-item.skills__header
                        h3(data-section='skills' data-value='subtitle-1').skills__subtitle.skills__subtitle--mr Herramientas 
                            br 
                            | de diseño
                        img(src="assets/icons/figma.svg", alt="Figma icon").skills__header-icon
                        img(src="assets/icons/illustrator.svg", alt="Illustrator icon").skills__header-icon

                    .skills__title.skills__grid-item
                        h2(data-section='skills' data-value='title').skills__title-text Aptitudes

                    .skills__contact.skills__grid-item
                        h3(data-section='skills' data-value='subtitle-2').skills__subtitle.skills__subtitle--mb Contacto 

                        .skills__contact-links
                            a(href="https://www.figma.com/@kevinuxui" target="_blank").skills__contact-link
                                img(src="assets/icons/figma.svg", alt="Figma icon").skills__contact-icon.skills__contact-icon--figma
                                span Figma 
                            a(href="https://github.com/kevin-uxui" target="_blank").skills__contact-link
                                img(src="assets/icons/github.svg", alt="Github icon").skills__contact-icon 
                                span GitHub 
                            a(href="https://www.linkedin.com/in/kevin-uxui/" target="_blank").skills__contact-link
                                img(src="assets/icons/linkedin.svg", alt="Linkedin icon").skills__contact-icon 
                                span Linkedin 
                            a(href="https://www.instagram.com/kevin_uxui/" target="_blank").skills__contact-link
                                img(src="assets/icons/instragram.svg", alt="Instagram icon").skills__contact-icon 
                                span Instagram 
                            a(href="assets/downloads/kevin-cv-uxui.pdf" download).skills__contact-link
                                img(src="assets/icons/pdf.svg", alt="PDF icon").skills__contact-icon 
                                span CV
                    
                    .skills__languages.skills__grid-item 
                        h3(data-section='skills' data-value='subtitle-3').skills__subtitle.skills__subtitle--mb Idiomas 
                        ul.skills__languages-items
                            li.skills__languages-item 
                                p.skills__languages-text(data-section='skills' data-value='lang-1') Castellano
                                p.skills__languages-text(data-section='skills' data-value='level-1') (nativo)
                            li.skills__languages-item 
                                p.skills__languages-text(data-section='skills' data-value='lang-2') Catalán
                                p.skills__languages-text(data-section='skills' data-value='level-2') (nativo)
                            li.skills__languages-item 
                                p.skills__languages-text(data-section='skills' data-value='lang-3') Inglés
                                p.skills__languages-text(data-section='skills' data-value='level-3') (básico)

    //- <!--==================== PROJECTS ====================-->
    section.section.main-projects
        h2(data-section='main-projects' data-value='title').section__title Proyectos
        .container
            article.main-projects__card
                a(href="./figma.html").main-projects__data.main-projects__data--figma 
                    .main-projects__icon
                        img(src="assets/icons/projects-figma.svg", alt="Figma icon")
                    h3.main-projects__title Figma

                .swiper.main-projects__swiper#swiper-figma
                    .swiper-wrapper
                        .swiper-slide
                            img(src="assets/img/home/projects-disney.webp", alt="Disney+").main-projects__img
                        .swiper-slide
                            img(src="assets/img/home/projects-futuristic.webp", alt="Futuristic web").main-projects__img
                        .swiper-slide
                            img(src="assets/img/home/projects-netflix.webp", alt="Netflix").main-projects__img
                        .swiper-slide
                            img(src="assets/img/home/projects-prime.webp", alt="Prime Video").main-projects__img
                    
                    .swiper-button-next
                    .swiper-button-prev

            article.main-projects__card
                a(href="./illustrator.html").main-projects__data.main-projects__data--illustrator 
                    .main-projects__icon
                        img(src="assets/icons/projects-illustrator.svg", alt="Illustrator icon")
                    h3.main-projects__title Illustrator

                .swiper.main-projects__swiper#swiper-illustrator
                    .swiper-wrapper
                        .swiper-slide
                            img(src="assets/img/home/projects-frog.webp", alt="Frog").main-projects__img
                        .swiper-slide
                            img(src="assets/img/home/projects-potatoes.webp", alt="Potatoes").main-projects__img
                        .swiper-slide
                            img(src="assets/img/home/projects-lemon.webp", alt="Lemons").main-projects__img
                        .swiper-slide
                            img(src="assets/img/home/projects-lettering.webp", alt="Lettering 3D").main-projects__img
                    
                    .swiper-button-next
                    .swiper-button-prev
    
    //- <!--==================== ABOUT ====================-->
    section.about.section 
        .container 
            h2(data-section='about' data-value='title').section__title Conóceme

            .about__content 
                p(data-section='about' data-value='text-1').about__text ¡Bienvenidos a mi Rincón de Creatividad!
                p(data-section='about' data-value='text-2').about__text Soy un apasionado diseñador gráfico en constante evolución, en búsqueda de nuevas oportunidades y desafíos emocionantes.
                p(data-section='about' data-value='text-3').about__text En mi portafolio, encontrarás mis proyectos más recientes, los cuales reflejan mi crecimiento y desarrollo como diseñador. Cada proyecto se convierte en un lienzo donde plasmo mi pasión y creatividad, explorando colores y formas para estar siempre al tanto de las nuevas tendencias y estilos.
                p(data-section='about' data-value='text-4').about__text ¡Espero que disfrutes explorando mi trabajo!
            
            .swiper.about__swiper
                .swiper-wrapper
                    .swiper-slide
                        img(src="assets/img/home/about-social.webp", alt="Social media mockup").about__img
                    .swiper-slide
                        img(src="assets/img/home/about-t-shirt.webp", alt="T-shit mockup").about__img
                    .swiper-slide
                        img(src="assets/img/home/about-book.webp", alt="Book mockup").about__img

                .swiper-pagination