.banner-project {
    @include mobile-mx {
        height: 300px;
        position: relative;
        z-index: -1;

    }

    @include tablet {
        clip-path: polygon(0% 0%, 100% 0%, 100% 79.921%, 100% 79.921%, 98.913% 79.614%, 95.894% 78.871%, 91.306% 77.954%, 85.512% 77.127%, 78.875% 76.655%, 71.759% 76.8%, 64.525% 77.828%, 57.538% 80.002%, 51.16% 83.585%, 45.754% 88.841%, 45.754% 88.841%, 43.541% 91.612%, 41.552% 93.901%, 39.712% 95.75%, 37.946% 97.202%, 36.179% 98.3%, 34.336% 99.085%, 32.342% 99.602%, 30.123% 99.891%, 27.603% 99.997%, 24.707% 99.962%, 24.707% 99.962%, 25.053% 99.962%, 23.778% 99.962%, 21.254% 99.962%, 17.856% 99.962%, 13.956% 99.962%, 9.927% 99.962%, 6.144% 99.962%, 2.98% 99.962%, 0.807% 99.962%, 0% 99.962%, 0% 0%);
        max-height: 400px;
        height: 80vh;
        background: linear-gradient(90deg, #FBC2EB 0%, #A6C1EE 100%);
    }

    @include laptop {
        max-height: 600px;
        position: relative;
    }

    &__picture {

        @include mobile-mx {
            background: linear-gradient(90deg, #FBC2EB 0%, #A6C1EE 100%);
            height: 420px;
            display: block;
            box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
            border-radius: 0 0 25% 25%;
            overflow: hidden;
        }
    }

    &__figma {

        @include mobile-mx {
            width: 88%;
            display: block;
            margin-inline: auto;
            padding-top: 3.3rem;
        }

        @include tablet {
            width: 100%;
            max-width: 1100px;
            position: relative;
            bottom: -20%;
            left: 40%;
            transform: translateX(-60%)
        }


    }

    &__illustrator {
        margin-inline: auto;
        display: block;

        &--frog {
            padding-top: 1.2rem;
            max-width: 230px;
            display: block;

            &-two {
                display: none;
            }

            @include laptop {
                padding-top: 3.2rem;
                margin-right: 8vw;
                max-width: 320px;

                &-two {
                    display: block;
                    min-height: 800px;
                    max-height: 900px;
                    height: 60vw;
                    position: absolute;
                    top: -10rem;
                    left: 0;
                    transform: rotate(30deg);
                }
            }

            @include desktop {
                margin-right: 17vw;
            }
        }

        &--potatoes {
            padding-top: 2rem;
            width: 66%;
            max-width: 240px;

            @include laptop {
                max-width: 400px;
            }
        }

        &--lemons {
            padding-top: 2.7rem;
            width: 85%;
            max-width: 450px;

            @include laptop {
                max-width: 800px;
            }
        }

        &--lettering {
            padding-top: 6.7rem;
            width: 85%;
            max-width: 450px;

            @include laptop {
                max-width: 700px;
            }
        }


    }
}