.banner {
    background-color: #242121;
    padding-top: 20px;
    padding-top: 20px;
    height: 300px;
    margin-bottom: 5rem;

    @include laptop {
        min-height: 545px;
        max-height: 600px;
        height: 80vh;
        clip-path: polygon(0% 0%, 100% 0%, 100% 53.69%, 99.9% 56.4%, 99.575% 58.944%, 99.074% 61.293%, 98.407% 63.411%, 97.594% 65.261%, 96.656% 66.808%, 95.612% 68.017%, 94.482% 68.852%, 93.287% 69.279%, 92.045% 69.261%, 88.486% 68.636%, 84.502% 68.147%, 80.199% 67.883%, 75.683% 67.935%, 71.059% 68.394%, 66.431% 69.35%, 61.906% 70.893%, 57.589% 73.113%, 53.585% 76.1%, 50% 79.946%, 50% 79.946%, 47.668% 82.968%, 45.357% 85.936%, 43.041% 88.785%, 40.698% 91.451%, 38.302% 93.869%, 35.831% 95.976%, 33.26% 97.706%, 30.565% 98.995%, 27.722% 99.779%, 24.707% 99.993%, 24.707% 99.993%, 21.391% 99.19%, 17.991% 97.174%, 14.608% 94.252%, 11.345% 90.73%, 8.304% 86.911%, 5.587% 83.102%, 3.296% 79.608%, 1.533% 76.735%, 0.4% 74.786%, 0% 74.069%, 0% 0%);
        padding-top: 50px;
        margin-bottom: 0;

    }

    & .container {
        position: relative;
    }

    &__img {
        margin-inline: auto;
        display: block;
        width: 130px;
        visibility: hidden;

        @include laptop {
            position: absolute;
            right: 0;
            width: 230px;

        }
    }

    &__content {
        text-align: center;
        position: absolute;
        bottom: -6rem;
        width: 100%;
        text-transform: uppercase;

        @include laptop {
            text-align: start;
            position: static;
            margin-top: 5vh;
        }
    }

    &__title {
        font-size: var(--biggest-font-size);
        color: aliceblue;
        font-weight: var(--font-black);
        margin-bottom: 1rem;

        @include laptop {
            margin-bottom: 2rem;
            font-weight: var(--font-bold);
        }
    }

    &__bold {
        color: var(--third-color);
    }

    &__subtitle {
        font-size: 35px;
        font-weight: 900;

        @include laptop {
            color: aliceblue;
        }
    }

    &__subtitle--visible {
        display: none;

        @include laptop {
            display: contents;
        }
    }
}