.banner-project {
    @include mobile-mx {
        height: 300px;
        position: relative;
        z-index: -1;

    }

    @include tablet {
        clip-path: polygon(0% 0%, 100% 0%, 100% 79.921%, 100% 79.921%, 98.913% 79.614%, 95.894% 78.871%, 91.306% 77.954%, 85.512% 77.127%, 78.875% 76.655%, 71.759% 76.8%, 64.525% 77.828%, 57.538% 80.002%, 51.16% 83.585%, 45.754% 88.841%, 45.754% 88.841%, 43.541% 91.612%, 41.552% 93.901%, 39.712% 95.75%, 37.946% 97.202%, 36.179% 98.3%, 34.336% 99.085%, 32.342% 99.602%, 30.123% 99.891%, 27.603% 99.997%, 24.707% 99.962%, 24.707% 99.962%, 25.053% 99.962%, 23.778% 99.962%, 21.254% 99.962%, 17.856% 99.962%, 13.956% 99.962%, 9.927% 99.962%, 6.144% 99.962%, 2.98% 99.962%, 0.807% 99.962%, 0% 99.962%, 0% 0%);
        max-height: 600px;
        height: 80vh;
    }

    &__img {
        width: 100%;

        @include mobile-mx {
            box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
            border-radius: 0 0 25% 25%;
            height: 500px;
        }

        height: 100%;
        object-fit: cover;
    }

}