.main-projects {
    & .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 80px 35px;
    }

    &__card {
        position: relative;
        width: 260px;
        height: 350px;
        overflow: hidden;
        filter: drop-shadow(0px 5px 8px black);

        @include tablet {
            width: 280px;
            height: 370px;
        }
    }

    &__data {
        clip-path: polygon(46.559% 4.973%, 46.559% 4.973%, 47.082% 3.183%, 47.715% 1.79%, 48.431% 0.796%, 49.202% 0.199%, 50% -0%, 50.798% 0.199%, 51.569% 0.796%, 52.285% 1.79%, 52.918% 3.183%, 53.441% 4.973%, 58.844% 28.405%, 82.295% 21.109%, 82.295% 21.109%, 85.076% 20.853%, 87.747% 21.777%, 90.266% 23.786%, 92.589% 26.785%, 94.674% 30.676%, 96.476% 35.367%, 97.953% 40.76%, 99.061% 46.761%, 99.758% 53.274%, 100% 60.204%, 100% 60.204%, 99.794% 66.595%, 99.197% 72.657%, 98.241% 78.309%, 96.96% 83.471%, 95.384% 88.062%, 93.548% 92%, 91.483% 95.204%, 89.222% 97.592%, 86.797% 99.085%, 84.241% 99.601%, 15.759% 99.601%, 15.759% 99.601%, 13.203% 99.085%, 10.778% 97.592%, 8.517% 95.204%, 6.452% 92%, 4.616% 88.062%, 3.041% 83.471%, 1.759% 78.309%, 0.803% 72.657%, 0.206% 66.595%, 0% 60.204%, 0% 60.204%, 0.242% 53.274%, 0.939% 46.761%, 2.047% 40.76%, 3.524% 35.367%, 5.326% 30.676%, 7.411% 26.785%, 9.734% 23.786%, 12.253% 21.777%, 14.924% 20.853%, 17.705% 21.109%, 41.156% 28.405%, 46.559% 4.973%);
        background-color: #000;
        width: 100%;
        height: 100px;
        position: absolute;
        z-index: 10;
        bottom: -0.4px;
    }

    &__data::before {
        clip-path: polygon(46.809% 4.955%, 46.809% 4.955%, 47.294% 3.171%, 47.881% 1.784%, 48.545% 0.793%, 49.26% 0.198%, 50% -0%, 50.74% 0.198%, 51.455% 0.793%, 52.119% 1.784%, 52.706% 3.171%, 53.191% 4.955%, 58.489% 29.634%, 82.9% 21.993%, 82.9% 21.993%, 85.575% 21.764%, 88.143% 22.714%, 90.561% 24.746%, 92.787% 27.763%, 94.779% 31.668%, 96.497% 36.365%, 97.898% 41.757%, 98.941% 47.747%, 99.583% 54.239%, 99.784% 61.136%, 99.784% 61.136%, 99.559% 67.391%, 98.969% 73.318%, 98.042% 78.839%, 96.81% 83.876%, 95.303% 88.351%, 93.552% 92.188%, 91.587% 95.307%, 89.438% 97.631%, 87.137% 99.082%, 84.713% 99.583%, 15.287% 99.583%, 15.287% 99.583%, 12.863% 99.082%, 10.562% 97.631%, 8.413% 95.307%, 6.448% 92.188%, 4.697% 88.351%, 3.19% 83.876%, 1.958% 78.839%, 1.031% 73.318%, 0.441% 67.391%, 0.216% 61.136%, 0.216% 61.136%, 0.417% 54.239%, 1.059% 47.747%, 2.102% 41.757%, 3.503% 36.365%, 5.221% 31.668%, 7.213% 27.763%, 9.44% 24.746%, 11.857% 22.714%, 14.425% 21.764%, 17.1% 21.993%, 41.511% 29.634%, 46.809% 4.955%);
        content: "";
        display: block;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        position: absolute;
        top: 2px;
        left: 2px;
        z-index: -1;
    }

    &__data--figma::before {
        background: conic-gradient(at 50% 50%, #FFA63D, #FF4FD8, #FF4949, #FFA63D);
    }

    &__data--illustrator::before {
        background: radial-gradient(circle, rgba(255, 173, 78, 1) 0%, rgba(148, 106, 67, 1) 100%);
    }

    &__icon {
        width: 37px;
        height: 37px;
        clip-path: polygon(67.203% 10.746%, 67.203% 10.746%, 64.588% 6.878%, 61.423% 3.869%, 57.845% 1.719%, 53.991% 0.43%, 50% 0%, 46.009% 0.43%, 42.155% 1.719%, 38.577% 3.869%, 35.412% 6.878%, 32.797% 10.746%, 2.691% 67.165%, 2.691% 67.165%, 0.902% 71.55%, 0.076% 76.02%, 0.145% 80.448%, 1.039% 84.703%, 2.691% 88.658%, 5.031% 92.183%, 7.99% 95.149%, 11.499% 97.427%, 15.49% 98.889%, 19.894% 99.405%, 50% 99.405%, 80.106% 99.405%, 80.106% 99.405%, 84.51% 98.889%, 88.501% 97.427%, 92.01% 95.149%, 94.969% 92.183%, 97.309% 88.658%, 98.96% 84.703%, 99.855% 80.448%, 99.924% 76.02%, 99.098% 71.55%, 97.309% 67.165%, 67.203% 10.746%);
        margin: 5px auto;

        & img {
            object-fit: cover;
            height: 100%;
            display: block;
        }
    }

    &__title {
        margin-top: .5rem;
        text-align: center;
        color: #000;
        text-transform: uppercase;
        font-weight: bold;
    }

    &__swiper {
        width: 100%;
        height: 100%;
        border-radius: 1.5rem 1.5rem 3rem 3rem;
    }

    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    & .swiper-button-next,
    & .swiper-button-prev {
        background-color: rgba(0, 0, 0, 0.5);
        width: 30px;
        height: 30px;
        padding: 3px 8px;
        border: 2px solid black;
        border-radius: 50%;
        content: url('../assets/icons/arrow-right.svg');
        display: none;

        @include hover {
            display: block;

            &:hover {
                background-color: rgba(0, 0, 0, 0.35);
            }
        }
    }

    & .swiper-button-next {
        content: url('../assets/icons/arrow-right.svg');
    }

    & .swiper-button-prev {
        content: url('../assets/icons/arrow-left.svg');
    }
}