:root {
     /*------------ MAIN COLOR PALLETE------------*/
     --firts-color: #090909;
     --second-color: #EDEDEE;
     --third-color: #E6621F;
     --third-color-alt: #FF9E44;

     /*------------ TEXT ------------*/
     --title-color: #2c2929;
     --text-color: #525050;
     --nav-link-color: white;
     --copy-color: #A6A6A6;

     /*------------ BLOCKS - CONTAINERS ------------*/
     --body-color: #f3f1ef;
     --container-color: rgba(233, 230, 227, .973);

     --nav-color: black;
     --menu-color: rgba(17, 16, 16, 0.938);
}